  /* CSS стилове за малки екрани (например, ширина под 768px) */
  @media (max-width: 768px) {
    .list-inside {
      flex-direction: column; /* Подредете елементите един под друг */
      align-items: center; /* Центрирайте хоризонтално в средата */
    }

    /* Стилове за отделните бутони (примерно) */
    .list-inside a {
      margin: 5px 0; /* Добавете малко разстояние между бутоните */
      text-align: center; /* Центрирайте текста хоризонтално */
    }
  }