<app-education-work></app-education-work>
<hr>
<app-personal-projects></app-personal-projects>
<hr>
<app-skills></app-skills>
<hr>
<app-languages></app-languages>
<hr>
<app-certificates></app-certificates>



<section class="mb-32 text-center">
    <h2 class="mb-20 text-3xl font-bold text-primary">PERSONAL PROJECTS</h2>

    <div class="grid lg:grid-cols-3 lg:gap-x-12 gap-y-10">

        <div class="mb-12 lg:mb-0">
            <div
                class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="h-7 w-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg>
                    </div>
                </div>
                <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Аmigurumi</h5>
                    <p>
                        "Angular-Project-Amigurumi" is a place, where you can browse some of the most popular
                        Amigurumi in the world and add some new product that you have created. Authenticated users
                        can like and comment on products in the app. Sellers can use the platform to add, update and
                        delete products from their profile page. <br>
                        <br>

                        The front end of the project has been deploy in Firebase:
                        <a href="https://amugurumiusers.web.app"
                            class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://amugurumiusers.web.app</a>
                    </p>

                    <a href="https://github.com/ZdravkaGoranova/Angular-Project-Amigurumi" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
            </div>
        </div>

        <div class="mb-12 lg:mb-0">
            <div
                class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="h-7 w-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg>
                    </div>
                </div>
                <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Lufthansa_APL_Effective_Panels</h5>
                    <p>
                        This application is used to search for effective panels by submitted documentation of a
                        customer of Lufthansa Technician Sofia. Upload the pdf documentation for a particular
                        aircraft , then upload the excel with certain panels . After pressing the button submit is
                        displayed in the result section whether there are or not matches and how many are .

                        <br>
                        <br>

                        The front end of the project has been deploy in Firebase:
                        <a href=" https://lufthansa-pdf.web.app/"
                            class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">
                            https://lufthansa-pdf.web.app/</a>
                    </p>

                    <a href="https://github.com/ZdravkaGoranova/Lufthansa_APL_Effective_Panels" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
            </div>
        </div>
        <div class="mb-12 lg:mb-0">
            <div
                class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="h-7 w-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg>
                    </div>
                </div>
                <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Wood-Woord-Bulgaria</h5>
                    <p>
                        "Wood Woord Bulgaria" is a place, where you can browse some of the most popular Wood working
                        product,tools, furnitures and other product in the world and add some new product that you
                        have created. Authenticated users can like and comment on products in the app. Sellers can
                        use the platform to add, update and delete products from their profile page.

                        The "Wood Woord Bulgaria" application contains the following views: login page, registration
                        page, logout page, personal profile page, catalog page and details page.

                        <br>
                        <br>
                        The front end of the project has been deploy in Firebase:
                        <a href="https://react-wood-working.web.app"
                            class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">
                            https://react-wood-working.web.app</a>
                    </p>

                    <a href="https://github.com/ZdravkaGoranova/My-React-Prodject-2023-Wood-Woord-Bulgaria"
                        type="button" data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
            </div>
        </div>
        <div class="mb-12 lg:mb-0">
            <div
                class="block h-full rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                <div class="flex justify-center">
                    <div class="-mt-8 inline-block rounded-full bg-primary-100 p-4 text-primary shadow-md">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="h-7 w-7">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg>
                    </div>
                </div>
                <div class="p-6">
                    <h5 class="mb-4 text-lg font-semibold">Zdravka-Goranova-s-portfolio</h5>
                    <p>
                        ..........<br>

                        The front end of the project has been deploy in Firebase:
                        <a href="https://amugurumiusers.web.app"
                            class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://amugurumiusers.web.app</a>
                    </p>

                    <a href="https://github.com/ZdravkaGoranova/Zdravka-Goranova-s-portfolio" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
            </div>
        </div>
    </div>
</section>

