<div class="container my-24 mx-auto md:px-6" id="personal-projects">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center lg:text-left">
        <h2 class="mb-12 text-center text-3xl font-bold text-primary">
            PERSONAL PROJECTS
        </h2>

        <div class="grid gap-x-6 lg:grid-cols-3 gap-y-10">
            <div class="mb-12 lg:mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%] "
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="assets/HomePage.jpg" class="w-full" />
                    <a href="https://amugurumiusers.web.app">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-2xl font-bold">Аmigurumi</h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">

                    <a href="https://github.com/ZdravkaGoranova/Angular-Project-Amigurumi" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
                <p class="text-neutral-500 dark:text-neutral-300 mb-4">
                    "Angular-Project-Amigurumi" is a place, where you can browse some of the most popular
                    Amigurumi in the world and add some new product that you have created. Authenticated users
                    can like and comment on products in the app. Sellers can use the platform to add, update and
                    delete products from their profile page.<br>
                </p>
                <hr class="mb-4">
                <p class="text-neutral-500 dark:text-neutral-300 mb-4"> The front end of the project has been deploy in
                    Firebase:
                    <a href="https://amugurumiusers.web.app"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://amugurumiusers.web.app</a>
                </p>
            </div>

            <div class="mb-12 lg:mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="/assets/start.jpg" class="w-full" />
                    <a href="https://lufthansa-pdf.web.app">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-2xl font-bold">Lufthansa_APL_Effective_Panels</h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">

                    <a href="https://github.com/ZdravkaGoranova/Lufthansa_APL_Effective_Panels" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
                <p class="text-neutral-500 dark:text-neutral-300 mb-4">
                    This application is used to search for effective panels by submitted documentation of a customer of
                    Lufthansa Technician Sofia. Upload the pdf documentation for a particular aircraft , then upload the
                    excel with certain panels . After pressing the button submit is displayed in the result section
                    whether there are or not matches and how many are .


                </p>
                <hr class="mb-4">
                <p class="text-neutral-500 dark:text-neutral-300 mb-4"> The front end of the project has been deploy in
                    Firebase:
                    <a href="https://lufthansa-pdf.web.app/"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://lufthansa-pdf.web.app</a>
                </p>
            </div>
            <div class="mb-12 lg:mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="assets/Home.jpg" class="w-full" />
                    <a href="https://gbstyle-nails-galya-lazarova.web.app">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-2xl font-bold">GBstyle-nails-By-Galya-Lazarova
                </h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">

                    <a href="https://github.com/ZdravkaGoranova/GBstyle-nails-By-Galya-Lazarova" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
                <p class="text-neutral-500 dark:text-neutral-300 mb-4">
                    "GBstyle-nails By Galya Lazarova" is abeauty salon website.The site offers various beauty treatments
                    described in the category .

                    The "GBstyle-nails By Galya Lazarova" application contains the following views: home page, category
                    page, about us page callery page and beauty salon page.


                </p>
                <hr class="mb-4">
                <p class="text-neutral-500 dark:text-neutral-300 mb-4"> The front end of the project has been deploy in
                    Firebase:
                    <a href="https://gbstyle-nails-galya-lazarova.web.app"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://gbstyle-nails-galya-lazarova.web.app</a>
                </p>
            </div>
            <div class="mb-12 lg:mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="assets/CatalogProfilePage.jpg" class="w-full" />
                    <a href="https://react-wood-working.web.app">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-2xl font-bold">Wood-Woord-Bulgaria

                </h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">

                    <a href="https://github.com/ZdravkaGoranova/My-React-Prodject-2023-Wood-Woord-Bulgaria"
                        type="button" data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
                <p class="text-neutral-500 dark:text-neutral-300 mb-4">

                    "Wood Woord Bulgaria" is a place, where you can browse some of the most popular Wood working
                    product,tools, furnitures and other product in the world and add some new product that you have
                    created. Authenticated users can like and comment on products in the app. Sellers can use the
                    platform to add, update and delete products from their profile page.

        
                </p>
                <hr class="mb-4">
                <p class="text-neutral-500 dark:text-neutral-300 mb-4"> The front end of the project has been deploy in
                    Firebase:
                    <a href="https://react-wood-working.web.app"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://react-wood-working.web.app</a>
                </p>
            </div>
            <div class="mb-0">
                <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                    data-te-ripple-init data-te-ripple-color="light">
                    <img src="/assets/portFolio.jpg" class="w-full" />
                    <a href="https://zdravka-goranova-portfolio.web.app">
                        <div
                            class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                        </div>
                    </a>
                </div>
                <h5 class="mb-4 text-2xl font-bold">Zdravka Goranova portfolio

                </h5>
                <div
                    class="mb-4 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 lg:justify-start">

                    <a href="https://github.com/ZdravkaGoranova/Zdravka-Goranova-s-portfolio" type="button"
                        data-te-ripple-init data-te-ripple-color="light"
                        class="rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:bg-neutral-100 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                        Link to GitHub </a>
                </div>
                <p class="text-neutral-500 dark:text-neutral-300 mb-4">
                    This project was bootstrapped with Angular.
                    Single Page App (SPA)
                    Used Тailwind.
                </p>
                <hr class="mb-4">
                <p class="text-neutral-500 dark:text-neutral-300 mb-4"> The front end of the project has been deploy in
                    Firebase:
                    <a href="https://zdravka-goranova-portfolio.web.app"
                        class="text-primary transition duration-150 ease-in-out hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">https://zdravka-goranova-portfolio.web.app/</a>
                </p>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</div>