<div class="lg:flex-col md:flex-col container mb-20  mt-0 mx-auto md:px-4">
    <div class="container mb-20" id="education ">

        <h2 class="mb-12 text-center text-3xl font-bold text-primary">
            EDUCATION
        </h2>
        <ol class="border-l-2 border-info-100 ">
            <!--First item-->
            <li>
                <div class="flex-start md:flex">
                    <div
                        class="-ml-[23px] flex h-[45px] w-[45px] items-center justify-center rounded-full bg-info-100 text-info-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7 w-7" fill="blue">
                            <path fill-rule="evenodd"
                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div
                        class="mb-10 ml-6 block max-w-3xl rounded-lg bg-neutral-50 p-6 shadow-md shadow-black/5 dark:bg-neutral-700 dark:shadow-black/10">
                        <div class="mb-4 flex justify-between  gap-4 text-xl">
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary ">
                                <b>JavaScript Developer</b> </a>
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary">
                                <b> 01/2022 - Present </b></a>
                        </div>
                        <p class="mb-6 text-neutral-700 dark:text-neutral-200 text-xl">
                            <b>Software University</b><br>
                            Sofia, Bulgaria
                        </p>
                        <div class=" lg:w-full md:w-full text-lg ">
                            <!-- Container for demo purpose -->
                            <p class="mb-6 text-lg"><i>Professional Modules: Front-End, Back-End, JS Web, JS
                                    Advanced</i></p>
                            <!-- <div class="container my-24 mx-auto md:px-6"> -->

                            <!-- Section: Design Block -->
                            <!-- <section class="mb-32">
                                    <h2 class="mb-5 text-center text-sm font-bold">
                                        Professional Modules: Front-End, JS Web, JS Advanced
                                    </h2>

                                    <div class="grid gap-6 lg:grid-cols-3">
                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">    <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Angular%20-%20June%202023%20-%20Certificate.pdf"
                                                class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                                Angular 
                                            </a></p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Intro to TypeSctipt; Lifecycle Hooks; Component Interaction;
                                                Change
                                                Detection
                                                Strategy; SOLID Principles;
                                                Services; Obserables and RXJS; Router Module; Router Guards; Directives ;
                                                Template-Driven and Reactive Forms;
                                                Pipes; JWT Authentication;
                                                Interceptors; Lazy Loading; Subjects;
                                                Redux;
                                            </p>
                                        
                                        </div>

                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold "> <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Advanced%20-%20September%202022%20-%20Certificate%20(1).pdf"
                                                class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                                JS Advanced 
                                            </a></p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Functions and
                                                Statements, Arrays and Nested Arrays, Objects and Composition, DOM
                                                Introduction, DOM Manipulations and
                                                Events, Advanced Functions, Unit
                                                Testing and Error Handling,Classes, Prototypes and Inheritance.
                                            </p>
                                        </div>

                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Applications%20-%20October%202022%20-%20Certificate.pdf"
                                                class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                                JS Applications :
                                            </a>
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                HTTP and
                                                REST Services, Asynchronous Programming, Remote Data and
                                                Authentication, Single Page Applications, Architecture and Testing, Client Side
                                                Rendering, Routing, Modular Applications.
                                            </p>
                                        </div>

                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Back-End%20-%20January%202023%20-%20Certificate.pdf"
                                                class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                                JS Back-End  
                                            </a>
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Intro to Node.js
                                                ,Node.js Streams and Utilities, ExpressJS and Templating, NoSQL and
                                                MongoDB, Session and Authentication, Validation and Error Handling.
                                            </p>
                                        </div>

                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">  <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/ReactJS.pdf"
                                                class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                                React JavaScript 
                                            </a></p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Components, Routing, Single Page Applicaion, Forms, React Hooks,
                                                Authentication, Advanced
                                                Techniques.
                                            </p>
                                        </div>

                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                Distinctio corporis, iure facere ducimus?
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Eaque eos corrupti debitis tenetur repellat, beatae quibusdam
                                                incidunt, fuga non iste dignissimos officiis nam officia obcaecati
                                                commodi ratione qui nesciunt.
                                            </p>
                                        </div>
                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                Distinctio corporis, iure facere ducimus?
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Eaque eos corrupti debitis tenetur repellat, beatae quibusdam
                                                incidunt, fuga non iste dignissimos officiis nam officia obcaecati
                                                commodi ratione qui nesciunt.
                                            </p>
                                        </div>
                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                Distinctio corporis, iure facere ducimus?
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Eaque eos corrupti debitis tenetur repellat, beatae quibusdam
                                                incidunt, fuga non iste dignissimos officiis nam officia obcaecati
                                                commodi ratione qui nesciunt.
                                            </p>
                                        </div>
                                        <div class="mb-6 md:mb-8 lg:mb-12">
                                            <p class="mb-4 font-bold">
                                                Distinctio corporis, iure facere ducimus?
                                            </p>
                                            <p class="text-neutral-500 dark:text-neutral-300">
                                                Eaque eos corrupti debitis tenetur repellat, beatae quibusdam
                                                incidunt, fuga non iste dignissimos officiis nam officia obcaecati
                                                commodi ratione qui nesciunt.
                                            </p>
                                        </div>
                                    </div>
                                </section> -->
                            <!-- Section: Design Block -->
                            <!-- </div> -->
                            <!-- Container for demo purpose -->
                            <!-- Each <div> is a single column.
                            Place some content inside to see the effect. -->
                            <div class=" text-lg  mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Angular%20-%20June%202023%20-%20Certificate.pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    Angular :
                                </a>
                                <p> Intro to TypeSctipt;
                                    Lifecycle Hooks; Component
                                    Interaction; Change Detection
                                    Strategy; SOLID Principles; Services;
                                    Obserables and RXJS; Router
                                    Module; Router Guards; Directives ;
                                    Template-Driven and Reactive
                                    Forms; Pipes; JWT Authentication;
                                    Interceptors; Lazy Loading; Subjects;
                                    State management; Redux;
                                </p>

                            </div>

                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Advanced%20-%20September%202022%20-%20Certificate%20(1).pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    JavaScript Advanced :
                                </a>

                                <p> Functions and
                                    Statements; Arrays and Nested
                                    Arrays; Objects and Composition;
                                    DOM Introduction; DOM
                                    Manipulations and Events; Advanced
                                    Functions; Unit Testing and Error
                                    Handling; Classes; Prototypes and
                                    Inheritance;</p>

                            </div>
                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Applications%20-%20October%202022%20-%20Certificate.pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    JavaScript Applications :
                                </a>
                                <p> HTTP and
                                    REST Services; Asynchronous
                                    Programming; Remote Data and
                                    Authentication; Single Page
                                    Applications; Architecture and
                                    Testing; Client Side Rend; Routing;
                                    Modular Applications;</p>

                            </div>
                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Back-End%20-%20January%202023%20-%20Certificate.pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    JavaScript Back-End :
                                </a>
                                <p> Intro to
                                    Node.js; Node.js Streams and
                                    Utilities; ExpressJS and Templating;
                                    NoSQL and MongoDB; Session and
                                    Authentication; Validation and Error
                                    Handling;</p>

                            </div>
                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/ReactJS.pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    React JavaScript :
                                </a>
                                <p> Components;
                                    Routing; Single Page Applicaion;
                                    Forms; React Hooks; Authentication;
                                    Advanced Techniques;</p>

                            </div>
                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/HTML%20%26%20CSS%20-%20May%202023%20-%20Certificate%20(1).pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    HTML & CSS :
                                </a>
                                <p> Introduction to HTML
                                    & CSS ; HTML Structure; CSS &
                                    Typography; CSS Box Model;
                                    Flexbox; Position & Grid; Media
                                    Queries;</p>

                            </div>
                            <div class=" text-lg mb-5">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Programming%20Fundamentals%20with%20JavaScript%20-%20May%202022%20-%20Certificate.pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    Programming Fundamentals with JavaScript :
                                </a>
                                <p>
                                    Basic Syntax, Conditional
                                    Statements and Loops; Git and GitHub;
                                    Data Types and Variables; HTTP Basics;
                                    Arrays ; HTML & CSS Basics ; Functions;
                                    Software Development Concepts; Arrays
                                    Advanced ; Objects and Classes;
                                    Associative Arrays; Bitwise Operations;
                                    Text Processing; Problem Solving;
                                    Database Basics; QA Introduction; Basic
                                    Web Project;

                                </p>
                            </div>
                            <div class=" text-lg">
                                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/HTML%20%26%20CSS%20-%20May%202023%20-%20Certificate%20(1).pdf"
                                    class="rounded px-6 pb-2 pt-2.5  font-medium  text-primary transition duration-150 ease-in-out hover:bg-neutral-300 hover:text-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:text-primary-700 dark:hover:bg-neutral-700">
                                    Programming Basics with JavaScript :
                                </a>
                                <p>
                                    First steps in Coding; Conditional
                                    s t a t em e n t s ; Conditional statements
                                    advance; For-Loop; While-Loop; Nested
                                    Loops;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!--Second item-->
            <li>
                <div class="flex-start md:flex">
                    <div
                        class="-ml-[23px] flex h-[45px] w-[45px] items-center justify-center rounded-full bg-info-100 text-info-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7 w-7" fill="blue">
                            <path fill-rule="evenodd"
                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div
                        class="mb-10 ml-6 block max-w-2xl rounded-lg bg-neutral-50 p-6 shadow-md shadow-black/5 dark:bg-neutral-700 dark:shadow-black/10">
                        <div class="mb-4 flex justify-between gap-4">
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary ">
                                <b>Business Administration and Management</b></a>

                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary ">
                                <b> 2013 - 2015</b> </a>
                        </div>
                        <p class="mb-6 text-neutral-700 dark:text-neutral-200 text-lg">

                            <b>Technical University Sofia</b><br>
                            Sofia, Bulgaria
                        </p>

                    </div>
                </div>
            </li>

            <!--Third item-->
            <li>
                <div class="flex-start md:flex">
                    <div
                        class="-ml-[23px] flex h-[45px] w-[45px] items-center justify-center rounded-full bg-info-100 text-info-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7 w-7" fill="blue">
                            <path fill-rule="evenodd"
                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div
                        class="mb-10 ml-6 block max-w-2xl rounded-lg bg-neutral-50 p-6 shadow-md shadow-black/5 dark:bg-neutral-700 dark:shadow-black/10">
                        <div class="mb-4 flex justify-between gap-4">
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary">
                                <b>Business Еconomic management</b> </a>

                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary">
                                <b>2009 - 2013</b> </a>
                        </div>
                        <p class="mb-6 text-neutral-700 dark:text-neutral-200 text-lg">
                            <b>Technical University Sofia</b><br>
                            Sofia, Bulgaria
                        </p>

                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="container " id="work-experience">

        <h2 class="mb-12 text-center text-3xl font-bold text-primary">
            WORK EXPERIENCE
        </h2>
        <ol class="border-l-2 border-info-100">
            <!--First item-->
            <li>
                <div class="flex-start md:flex">
                    <div
                        class="-ml-[23px] flex h-[45px] w-[45px] items-center justify-center rounded-full bg-info-100 text-info-700">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-7 w-7" fill="blue">
                            <path fill-rule="evenodd"
                                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div
                        class="mb-10 ml-6 block max-w-2xl rounded-lg bg-neutral-50 p-6 shadow-md shadow-black/5 dark:bg-neutral-700 dark:shadow-black/10">
                        <div class="mb-4 flex justify-between gap-4">
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary ">
                                <b> Corporate Customer Clients Support Office</b>
                            </a>
                            <a href="#!" class="text-xl transition duration-150 ease-in-out text-primary ">
                                <b>10/2014 - 05/2022</b>
                            </a>
                        </div>
                        <p class="mb-6 text-neutral-700 dark:text-neutral-200 text-lg">
                            <b>VIVACOM</b> <br>
                            Sofia, Bulgaria
                        </p>
                        <p class="mb-6 text-lg"><i>Responsibilities</i></p>
                        <ol class="mb-6 text-lg list-disc pl-5">
                            <li>Maintaining and supporting specialized internet services for clients;</li>
                            <li>Verifying client contracts for compliance with internal company policies;</li>
                            <li>Mediation between different departments in the company;</li>
                        </ol>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>