

<div class="container my-24 mx-auto md:px-6" id="certificates">
    <!-- Section: Design Block -->
    <section class="mb-32">
        <style>
            .zoom:hover img {
                transform: scale(1.1);
            }
        </style>

        <h2 class="mb-12 text-center text-3xl font-bold ">
            CERTIFICATES
        </h2>

        <div class="grid gap-6 lg:grid-cols-3">


            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/Angular.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Angular%20-%20June%202023%20-%20Certificate.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>
            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/React.jpg" class="w-full" />
                <a href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/ReactJS.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>
            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/Advanced.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Advanced%20-%20September%202022%20-%20Certificate%20(1).pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>

            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/Applications.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Applications%20-%20October%202022%20-%20Certificate.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>

            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/Back_End.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/JS%20Back-End%20-%20January%202023%20-%20Certificate.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>


            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/HTML.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/HTML%20%26%20CSS%20-%20May%202023%20-%20Certificate%20(1).pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>


            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/PR_Basics.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Programming%20Basics%20-%20February%202022%20-%20Certificate.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>


            <div class="zoom relative overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20 bg-[50%]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="assets/Pr_Fundamentals.jpg" class="w-full" />
                <a
                    href="https://github.com/ZdravkaGoranova/JavaScript-Certificate/blob/main/Certificate/Programming%20Fundamentals%20with%20JavaScript%20-%20May%202022%20-%20Certificate.pdf">
                    <div
                        class="mask absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,4%,0.4)]">
                    </div>
                </a>
            </div>


        </div>
    </section>
    <!-- Section: Design Block -->
</div>